@media (min-width: 320px) {

  .container {
    padding: 0 32px;
  }

  /* header */

  .header-mid__logo-link, .header-mid_1024, .header-mid__button, .header-bottom_768px, .header-bottom__button_play-alone, .header-bottom__list, .age-rating {
    display: none;
  }

  .burger {
    display: flex;
    position: relative;
    min-width: 23px;
    min-height: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: auto;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 3px;
    background-color: var(--hover-color);
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .burger__line:first-child {
    top: 2%;
  }

  .burger__line:last-child {
    bottom: -2%;
  }

  .burger__line:nth-child(2) {
    top: 47%;
    transform: translateX(-50%);
  }

  .accordion-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }

  .accordion__btn_svg {
    rotate: 45deg;
    min-width: 15px;
    min-height: 15px;
    margin-right: 5px;
  }

  .accordion-bottom {
    display: none;
  }

  .accordion__descr {
    color: var(--hover-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  /* podcasts */

  .podcasts__button_play-svg {
    max-width: 36px;
    max-height: 36px;
  }

  .view-more, .view-less__btn {
    display: none;
  }

  .podcasts__item {
    width: 256px;
  }

  /* broadcasts */

  .broadcascts-kinds__item {
    width: 113px;
  }

  .broadcasts-archive {
    width: 256px;
  }

  /* broadcasts-select */

  .broadcasts__author-select {
    margin-bottom: 30px;
  }

  .choices .choices__list.choices__list--dropdown .choices__placeholder {
    display: none;
  }

  .header_choices.choices[data-type*=select-one]:after {
    width: 8px;
    height: 8px;
    top: 16px;
    right: 17px;
    transform: rotate(45deg);
    border: 1px solid var(--text-translucent);
    border-top: none;
    border-left: none;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .1s ease-in-out;
    z-index: 2;
    transition: transform .3s ease-in-out;
  }

  .header_choices.choices[data-type*=select-one].is-open:after {
    transform: rotate(225deg);
    margin-top: 0;
    border: 1px solid var(--text-translucent);
    border-top: none;
    border-left: none;
    transition: transform .3s ease-in-out;
    z-index: 2;
    top: 14px;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 20px;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: 0;
  }

  .header_choices {
    max-width: 256px;
  }

  .header_choices .choices__list--dropdown {
    top: 20px;
    padding-top: 20px;
    z-index: 1;
    border-color: #d2d5dd;
    border-radius: 0 0 10px 10px;
    color: #333;
  }

  .choices__inner {
    border: none;
    background-color: #f5f6f7;
    min-height: 0;
  }

  .listbox::placeholder {
    display: none;
  }

  .header_choices .choices__list--dropdown.is-active {
    border-color: #d2d5dd;
  }

  .choices__placeholder {
    opacity: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .header_choices .choices__inner {
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }

  .header_choices.is-open .choices__inner {
    border-radius: 10px;
    border-color: #d2d5dd;
  }

  .choices__list .choices__list--dropdown.is-active {
    border-color: #d2d5dd;
  }

  .choices__list--single .choices__item {
    color: #333;
  }

  .choices {
    margin-bottom: 29px;
  }

  /* broadcast-select-end */

  /* playlists */

  .playlists__genres-list_768 {
    display: none;
  }

  .playlists-slider {
    padding-left: 32px;
    overflow: hidden;
  }

  .playlists-slider__list {
    display: flex;
    margin-bottom: 30px;
  }

  .playlists-slider__item:not(:last-child) {
    margin-right: 15px;
  }

  .playlists-slider__button {
    border: 2px solid var(--hover-color);
    border-radius: 77px;
    min-width: 113px;
    padding: 8px 17px;
    color: var(--hover-color);
    justify-content: center;
  }

  .playlists-groups__list {
    width: 256px;
  }

}

@media (min-width: 577px) {}

@media (min-width: 769px) {}

@media (min-width: 1025px) {}
