@media (min-width: 320px) {

  .container {
    padding: 0 32px;
  }

  .header-mid__logo-link, .header-mid_1024, .header-mid__button, .header-bottom_768px, .header-bottom__button_play-alone, .header-bottom__list, .age-rating, .broadcasts-archive_1024, .playlist__left-side_underground, .footer-nav_top-hidden, .choices__list--dropdown .choices__item--selectable:after {
    display: none;
  }

  /* header */

  .burger-nav__close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
  }

  .burger-nav__close-btn:focus {
    outline: 1px solid var(--background-dark);
    outline-offset: 3px;
  }

  .burger-nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .burger-nav.active {
    transform: translateX(0);
    display: flex;
  }

  .burger-nav__top-content {
    background-color: #d2d5dd;
    padding: 13px 38px 13px 32px;
    width: 100%;
  }

  .burger-nav__list {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    max-width: 250px;
  }

  .burger-nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--background-dark);
  }

  .burger-nav__link:focus, .burger-nav__link_bottom:focus {
    outline-offset: 3px;
    outline: 1px solid var(--background-dark);
  }

  .burger-nav__item {
    margin-bottom: 40px;
    margin-right: 48px;
  }

  .burger-nav__item:nth-child(even) {
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 30px;
  }

  .burger-nav__bottom-content {
    padding: 30px 70px 30px 32px;
  }

  .burger-nav__list_bottom {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
  }

  .burger-nav__item_bottom {
    margin-bottom: 27px;
    margin-right: 73px;
    min-width: 70px;
  }

  .burger-nav__item_bottom:nth-child(even) {
    margin-right: 0;
  }

  .burger-nav__link_bottom {
    color: var(--background-dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .burger {
    display: flex;
    position: relative;
    min-width: 23px;
    min-height: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: auto;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 3px;
    background-color: var(--hover-color);
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .burger__line:first-child {
    top: 2%;
  }

  .burger__line:last-child {
    bottom: -2%;
  }

  .burger__line:nth-child(2) {
    top: 47%;
    transform: translateX(-50%);
  }

  /* header-accordion start */

  .accordion__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14.5px 50px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s ease-out;
    border: 1px solid #e6e8ec;
  }

  .accordion__btn_svg {
    transition: transform .3s ease-in-out;
  }

  .accordion__item_show .accordion__btn_svg {
    transition: transform .3s ease-in-out;
    transform: rotate(45deg);
  }

  .accordion__header:hover, .accordion__item_show {
    background: rgba(230, 232, 236, 0.4);
  }

  .accordion__header:focus {
    background-color: white;
  }

  /* .accordion__item_hidden .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  } */

  .accordion__body {
    display: flex;
    overflow: hidden;
    background: #fff;
    width: 100%;
  }

  .accordion__list {
    display: flex;
    padding-top: 10px;
  }

  .accordion__items {
    display: flex;
    flex-direction: column;
    padding: 0 38px 2px 33px;
  }

  .accordion__items:first-child {
    border-right: 1px solid #d2d5dd;
  }

  .accordion__button_play {
    margin-bottom: 10px;
    margin-left: 2px;
  }

  /*
  .accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  } */

  .accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
  }

  .accordion__btn_svg {
    rotate: 45deg;
    min-width: 15px;
    min-height: 15px;
    margin-right: 5px;
  }

  .accordion__descr {
    color: var(--hover-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .accordion__on-air {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: var(--text-translucent);
    margin-bottom: 4px;
  }

  .broadcast-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--background-dark);
  }



  /* header-accordion-end */

  /* podcasts */

  .podcasts__button_play-svg {
    max-width: 36px;
    max-height: 36px;
  }

  .view-more, .view-less__btn {
    display: none;
  }

  /* broadcasts */

  .broadcascts-kinds__item {
    max-width: 113px;
  }

  .broadcasts-archive {
    max-width: 256px;
  }

  /* broadcasts-select */

  .broadcasts__author-select {
    margin-bottom: 30px;
  }

  .choices .choices__list.choices__list--dropdown .choices__placeholder {
    display: none;
  }

  .header_choices.choices[data-type*=select-one]:after {
    width: 8px;
    height: 8px;
    top: 16px;
    right: 17px;
    transform: rotate(45deg);
    border: 1px solid var(--text-translucent);
    border-top: none;
    border-left: none;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .1s ease-in-out;
    z-index: 2;
    transition: transform .3s ease-in-out;
  }

  .header_choices.choices[data-type*=select-one].is-open:after {
    transform: rotate(225deg);
    margin-top: 0;
    border: 1px solid var(--text-translucent);
    border-top: none;
    border-left: none;
    transition: transform .3s ease-in-out;
    z-index: 2;
    top: 14px;
  }


  .choices__list--dropdown .choices__item:not(:last-child) {
    border-bottom: 1px solid #d2d5dd;
  }

  .choices__list--dropdown .choices__item:focus {
    color: var(--background-dark);
  }

  .header_choices {
    max-width: 256px;
  }

  .header_choices .choices__list--dropdown {
    top: 20px;
    padding-top: 20px;
    z-index: 1;
    border-color: #d2d5dd;
    border-radius: 0 0 10px 10px;
    color: var(--background-dark);
  }

  .choices__inner {
    border: none;
    background-color: #e6e8ec;
    min-height: 0;
  }

  .choices__inner:hover {
    background-color: #f5f6f7;
  }

  .choices__inner:focus {
    background-color: #e6e8ec;
  }

  .choices__inner:active {
    background-color: #d2d5dd;
  }

  .listbox::placeholder {
    display: none;
  }

  .choices__list--dropdown.is-active {
    border-color: #d2d5dd;
  }

  .choices__item {
    color: var(--text-translucent);
  }

  .choices__item:focus {
    color: var(--background-dark);
    background-color: var(--hover-color);
  }

  .choices__item:active {
    background-color: #d2d5dd;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    color: var(--background-dark);
    background-color: #f5f6f7;
    border-color: #f5f6f7;
    border-top: 1px solid #f5f6f7;
    margin-top: -1px;
    padding-right: 0;
  }

  .choices__placeholder {
    opacity: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .header_choices .choices__inner {
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }

  .header_choices.is-open .choices__inner {
    border-radius: 10px;
    border-color: #d2d5dd;
  }

  .choices__list .choices__list--dropdown.is-active {
    border-color: #d2d5dd;
  }

  .choices__list--single .choices__item {
    color: var(--background-dark);
  }

  .choices {
    margin-bottom: 29px;
  }

  /* broadcast-select-end */

  /* playlists */

  .playlists__genres-list_768 {
    display: none;
  }

  .playlists-slider {
    padding-left: 32px;
    overflow: hidden;
  }

  .playlists-slider__list {
    display: flex;
    margin-bottom: 13px;
  }

  .itc-slider__item {
    flex: 0 0 44%;
  }

  .itc-slider__item:last-child {
    display: none;
  }

  .itc-slider__wrapper {
    overflow: visible;
  }

  .playlists-slider__button {
    border: 2px solid var(--hover-color);
    border-radius: 77px;
    min-width: 113px;
    padding: 8px 17px;
    color: var(--hover-color);
    justify-content: center;
  }

  .playlists-groups__list {
    max-width: 256px;
  }

  /* about us */

  /* slider */

  .about-us-slider__item {
    flex: 0 0 17%;
  }

}

@media (min-width: 577px) {

  .container {
    padding: 0 114px;
  }

  .title-h2 {
    font-size: 48px;
  }

  /* header*/

  .header-top {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .logo-link__img {
    width: 113px;
  }

  .header-top__button {
    display: none;
  }

  .header-mid {
    padding: 20px 0;
  }

  .header-mid__search_svg {
    margin-right: 24px;
  }

  .header-mid__button {
    display: flex;
    color: var(--background-dark);
    border: 2px solid currentColor;
    padding: 10px 31px;
  }

  .burger-nav__bottom-content {
    display: none;
  }

  .burger-nav__item {
    margin-bottom: 63px;
  }

  .burger-nav__item:nth-child(even) {
    margin-bottom: 63px;
    padding: 0;
  }

  .burger-nav__top-content {
    height: 100%;
    width: 100%;
    padding: 28px 38px 13px 114px;
    position: relative;
  }

  .burger-nav__top-content::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    right: 10%;
    width: 150px;
    height: 400px;
    background-image: url(/img/spiral-burger-right.png);
    background-repeat: no-repeat;
  }

  .burger-nav__top-content::after {
    content: '';
    display: flex;
    position: absolute;
    top: 11%;
    right: 29%;
    width: 150px;
    height: 400px;
    background-image: url(/img/spiral-burger.png);
    background-repeat: no-repeat;
  }

  .burger-nav__close-btn {
    margin-bottom: 50px;
  }

  .burger__line:first-child {
    top: 20%;
  }

  .burger__line:last-child {
    bottom: 20%;
  }

  .accordion {
    display: none;
  }

  .header-bottom_768px {
    display: flex;
    padding: 18px 0;
    align-items: center;
  }

  .header-bottom__list_768px {
    display: flex;
    flex-wrap: wrap;
  }

  .header-bottom__item_768px:not(:last-child) {
    margin-right: 28.5px;
  }

  .header-bottom__item_768px:last-child {
    margin-right: 23px;
  }

  .header-bottom__button_play-alone {
    display: flex;
  }

  /* hero */

  .hero__content {
    padding-top: 92px;
    padding-bottom: 89px;
  }

  .title-h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  .hero__descr {
    font-size: 16px;
  }

  .hero__btn {
    padding: 27px 54px;
    font-size: 20px;
  }

  /* podcasts */

  .podcasts-content {
    padding-top: 95px;
    padding-bottom: 94px;
  }

  .view-more {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .podcasts__title-h2 {
    margin-bottom: 29px;
  }

  .podcasts__all-blocks {
    display: block;
  }

  .podcasts__item {
    width: 100%;
    max-width: 540px;
    min-width: 381px;
  }

  .podcasts__item:last-child {
    margin-bottom: 60px;
  }

  .podcasts__item-top {
    padding-left: 142px;
    padding-top: 20px;
    padding-right: 30px;
    background-position: left;
  }

  .podcasts__item-top_date {
    bottom: -1px;
    left: -1px;
    top: auto;
  }

  .podcasts__title {
    font-size: 20px;
    margin-bottom: 7px;
  }

  .podcasts__button_play {
    padding-bottom: 18px;
  }

  .podcasts__button_play-svg {
    max-width: 50px;
    max-height: 50px;
  }

  .podcasts__time {
    margin-bottom: 11px;
  }

  .podcasts__leading {
    font-size: 16px;
    margin-bottom: 26px;
  }

  .podcasts__item_1 {
    background-image: url('../img/europe-xix-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_2 {
    background-image: url('../img/about-music-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_3 {
    background-image: url('../img/peoples-today-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_4 {
    background-image: url('../img/hello\,africa-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_5 {
    background-image: url('../img/about-all-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_6 {
    background-image: url('../img/phisicks-of-bright-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_7 {
    background-image: url('../img/string-of-wave-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_8 {
    background-image: url('../img/rules-of-ethicket-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item-bottom {
    margin-left: 113px;
    padding: 8px 34px 7px;
    padding-left: 30px;
  }

  .podcasts__social-icons_play-counter, .podcasts__social-icons_like-counter, .podcasts__social-icons_share-counter {
    font-size: 16px;
    line-height: 16px;
  }

  .load-more-content {
    padding-bottom: 0;
  }

  .view-more__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 23px 52px;
  }

  /* broadcasts */

  .broadcasts__title {
    padding-top: 95px;
    margin-bottom: 11px;
  }

  .broadcasts__author-label {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .choices {
    margin-bottom: 47px;
  }

  .broadcascts-kinds__item {
    min-width: 255px;
    min-height: 260px;
  }

  .broadcasts-kinds {
    max-width: 540px;
    margin-bottom: 31px;
  }

  .broadcascts-kinds__item {
    max-width: 250px;
    padding: 169px 15px 0;
  }

  .broadcasts__title-h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .broadcascts-kinds__datetime {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcascts-kinds__link {
    color: var(--background-dark);
    font-size: 16px;
    line-height: 16px;
    bottom: 18px;
  }

  .broadcasts-kinds__link_svg-path {
    fill: var(--background-dark);
  }

  .broadcascts-kinds__item_1 {
    background-image: url('../img/about-people-and-books-desktop.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_2 {
    background-image: url('../img/graphic\ fill.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_3 {
    background-image: url('../img/not\ rome\,not\ troja.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_4 {
    background-image: url('../img/erudite.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_5 {
    background-image: url('../img/the\ subtleties\ of\ the\ eras.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_6 {
    background-image: url('../img/living\ thoughts.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcasts-archive {
    flex-direction: column-reverse;
    max-width: 345px;
  }

  .broadcasts-archive__descr {
    font-size: 16px;
    margin-bottom: 0;
  }

  .broadcasts-archive__btn {
    padding: 10px 54.5px;
    margin-bottom: 8px;
  }

  .broadcasts-archive_border {
    justify-content: center;
  }

  /* guests */

  .guests__content {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .guest__descr_under-title {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
  }

  .guests-accordion__list {
    margin-bottom: 51px;
  }

  .guests__descr {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 49px;
  }

  .guests-accordion__title-h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .guests-accordion__top-content {
    padding: 20px 0;
    /* margin-bottom: 30px; */
  }

  .guests-accordion__top-content_1 {
    margin-bottom: 30px;
  }

  .guests-accordion__top-content:not(:first-child) {
    border-top: none;
  }

  .guests-accordion__arrow-button_svg {
    width: 48px;
  }

  .guests-accordion__bottom-item {
    width: 160px;
    margin-right: 29px;
  }

  .guests-accordion__bottom-content-tabs {
    font-size: 16px;
    line-height: 17px;
  }

  .guests-accordion__bottom-content {
    margin-bottom: 0;
  }

  .accordion-people-info__img {
    width: 100%;
    margin-bottom: 0;
  }

  .accordion-people-info__social-list {
    display: flex;
    margin-bottom: 1px;
  }

  .accordion-people-info__social-links_svg {
    width: 24px;
  }

  .accordion-people-info__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .accordion-people-info__descr {
    max-width: 400px;
  }

  .accordion-people-info__button {
    padding: 10px 18px;
  }

  /* playlists */

  .playlists-slider__list {
    display: none;
  }

  .playlists__genres-list_768 {
    display: flex;
    margin-bottom: 14px;
  }

  .playlists__title-h2 {
    padding-top: 95px;
    margin-bottom: 10px;
  }

  .playlists__genre {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 14px;
  }

  .playlists__genres-list {
    display: flex;
    padding-right: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 260px;
    column-gap: 34px;
  }

  .playlists__genres-items {
    margin-bottom: 40px;
  }

  /* radio */

  .playlists__radio {
    font-size: 14px;
    line-height: 19px;
  }

  .playlists__radiobuttons {
    opacity: 0;
    position: absolute;
  }

  .playlists__radiobuttons_text {
    display: flex;
    text-align: left;
    position: relative;
    padding-left: 42px;
    cursor: pointer;
    transition: color .3s ease-in-out;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .playlists__radiobuttons_text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    border: 2px solid var(--text-translucent);
    border-radius: 100%;
    transition: border-color .3s ease-in-out;
  }

  .playlists__radiobuttons_text:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 7px;
    top: 4px;
    background-color: white;
    border-radius: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .playlists__radiobuttons_text:hover::before {
    border-color: var(--hover-color)
  }

  .playlists__radiobuttons:not(:disabled):active+.playlists__radiobuttons_text::before {
    background-color: #d2d5dd;
  }

  .playlists__radiobuttons:checked+.playlists__radiobuttons_text:not(:focus)::before {
    border-color: var(--hover-color);
  }

  .playlists__radiobuttons:checked+.playlists__radiobuttons_text::after {
    opacity: 1;
  }

  .playlists__radiobuttons:checked+.playlists__radiobuttons_text::before {
    background-color: var(--hover-color)
  }

  .playlists__radiobuttons:focus+.playlists__radiobuttons_text::before {
    border-color: var(--hover-color);
  }

  /* radio end */

  .playlists-groups__list {
    max-width: none;
    margin-bottom: 12px;
  }

  .playlists-groups__content {
    display: flex;
  }

  .playlists-groups__img {
    max-width: 112px;
    max-height: 112px;
  }

  .playlists__items_text {
    min-width: 142px;
    min-height: 112px;
    padding: 39px 5px 5px 9px;
  }

  .playlists-groups__title-h4 {
    font-size: 16px;
    line-height: 16px;
  }

  .playlists-groups__link {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists-groups__flag_rus, .playlists-groups__flag_eng {
    left: 0;
  }

  .playlists__descr, .playlists__copyright {
    font-size: 16px;
    line-height: 22px;
  }

  .playlist__underground {
    padding-top: 38px;
    padding-bottom: 89px;
  }

  /* market */

  .market-content {
    padding-bottom: 94px;
  }

  .market-content__img {
    min-width: 349px;
    max-width: 540px;
    margin-bottom: -17px;
  }

  .market-content__title-h2 {
    background-position: 45% 98%;
    padding-bottom: 31px;
    margin-bottom: 17px;
  }

  .market-content__descr {
    font-size: 16px;
    line-height: 180%;
  }

  .market-content__descr_2 {
    margin-bottom: 30px;
  }

  .market-content__price {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 29px;
  }

  .market-content__link {
    font-size: 20px;
    line-height: 100%;
    align-self: flex-start;
    padding: 23px 11px;
  }

  .market-content__right-side {
    display: flex;
    flex-direction: column;
  }

  /* about-us */

  .about-us-content {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .about-us__title-h2 {
    margin-bottom: 12px;
  }

  .about-us__descr_1 {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
  }

  .about-us__descr_2 {
    position: relative;
    font-size: 20px;
    line-height: 160%;
    /* padding-bottom: 150px; */
    margin-bottom: 21px;
  }

  /* .about-us__descr_2::before {
    background-image: url(/img/spiral.png);
    background-repeat: no-repeat;
    background-size: 91% 82%;
    display: flex;
    content: "";
    left: -115px;
    top: 252px;
    bottom: 0;
    height: 138px;
    position: absolute;
    width: 720px;
  } */

  .about-us-slider {
    padding-left: 114px;
    padding-right: 114px;
    padding-top: 150px;
    background-image: url('/img/spiral.png');
    background-repeat: no-repeat;
    background-position: 0% 2%;
    background-size: 85%;
    margin-bottom: 0;
  }

  .about-us-slider__list {
    overflow: hidden;
    margin-bottom: 30px;
  }

  .about-us-slider__item {
    min-width: 255px;
  }

  .about-us-slider__item:not(:last-child) {
    margin-right: 30px;
  }

  .about-us-slider__img {
    min-width: 255px;
  }

  .about-us-slider__text-content {
    padding: 18px 20px 0 0;
  }

  .about-us-slider__name-teacher {
    font-size: 20px;
    line-height: 20px;
    max-width: none;
    margin-bottom: 7px;
  }

  .about-us-slider__descr {
    font-size: 16px;
    line-height: 24px;
  }

  .about-us-form__textarea {
    border-radius: 30px;
    padding: 29px 20px 20px 31px;
  }

  .about-us-form__textarea::placeholder, .about-us-form__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .about-us-form__input {
    border-radius: 40px;
    padding: 27px 27px 22px 31px;
  }

  .about-us-form__btn {
    border-radius: 40px;
    font-size: 20px;
    line-height: 20px;
    padding: 26px 54px;
    margin-bottom: 30px;
  }

  .about-us-form__label {
    font-size: 12px;
    line-height: 12px;
  }

  /* footer */

  .footer-top {
    padding-top: 95px;
    padding-bottom: 77px;
  }

  .footer-mid {
    padding-bottom: 39px;
    padding-top: 25px;
  }

  .footer-mid_bg {
    display: none;
  }

  .footer-nav_top-hidden {
    display: flex;
  }

  .footer-top__wrapper_all-top-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 37px;
  }

  .footer-nav__links {
    font-size: 16px;
    line-height: 16px;
  }

  .footer-nav__items {
    margin-right: 135px;
    margin-bottom: 30px;
  }

  .footer-nav__items:nth-child(3), .footer-nav__items:nth-child(6), .footer-nav__items:nth-child(9) {
    margin-right: 0;
  }

  .footer-bottom__copyright {
    font-size: 16px;
    line-height: 103.34%;
    margin-top: 23px;
  }

}

@media (min-width: 769px) {

  .container {
    padding: 0 100px;
  }

  /* header */

  .header-bottom__item_768px:not(:last-child) {
    margin-right: 28px;
  }

  .header-mid__item:not(:last-child) {
    margin-right: 59px;
  }

  .header-mid__item:last-child {
    margin-right: 34px;
  }

  .header-mid__link {
    color: var(--background-dark);
    font-size: 20px;
    line-height: 20px;
  }

  .header-bottom {
    display: flex;
    align-items: center;
  }

  .header-bottom__button_play-alone {
    display: none;
  }

  .header-bottom_nav-1024 {
    display: flex;
  }

  .header-bottom__list {
    display: flex;
  }

  .header-bottom_768px {
    padding: 20px 0;
  }

  .header-bottom__list_768px {
    margin-right: auto;
  }

  .header-bottom__item {
    display: flex;
    padding-left: 11px;
    border-right: 1px solid #d2d5dd;
  }

  .header-bottom__item:last-child {
    padding-left: 13px;
    padding-right: 17px;
  }

  .header-bottom__item:not(:last-child) {
    padding-right: 24px;
    border-left: 1px solid #d2d5dd;
  }

  .header-bottom__item_768px:last-child {
    margin-right: 34px;
  }

  .header-bottom__on-air {
    color: var(--text-translucent);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
  }

  .header-bottom-on-air__content {
    max-width: 100px;
  }

  .header-bottom__button_play {
    margin-right: 10px;
  }

  /* hero */

  .hero__descr {
    max-width: 555px;
  }

  .hero__content {
    background-image: url('/img/microphone.png');
    background-repeat: no-repeat;
    background-position: 100% 46%;
    background-size: 256px;
  }

  .hero__content_text {
    display: flex;
    flex-direction: column;
    width: 57%;
  }

  /* podcasts */

  .podcasts__all-blocks {
    display: flex;
  }

  .podcasts__list {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .podcasts__item {
    max-width: 396px;
    margin-right: 30px;
  }

  .podcasts__item:last-child {
    margin-bottom: 30px;
  }

  .view-more {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  /* broadcasts */

  .broadcasts-archive_border {
    display: none;
  }

  .broadcasts__wrapper {
    display: flex;
    padding-top: 94px;
    padding-bottom: 65px;
  }

  .broadcasts__title {
    padding-top: 0;
  }

  .broadcasts-left-side {
    display: flex;
    flex-direction: column;
    margin-right: 29px;
  }

  .choices {
    margin-bottom: 226px;
  }

  .broadcasts-archive__btn {
    margin-bottom: 12px;
  }

  .broadcasts-archive_1024 {
    display: flex;
    flex-direction: column-reverse;
    max-width: 255px;
    background-image: url('/img/mic.png');
    background-repeat: no-repeat;
    background-size: 65px;
    padding-top: 113px;
  }

  .broadcasts-list-container {
    padding-top: 10px;
  }

  .broadcasts-kinds {
    margin-bottom: 0;
  }

  /* guests */

  .guests__wrapper {
    display: flex;
  }

  .guests__descr {
    max-width: 536px;
  }

  .guests-accordion {
    margin-right: 30px;
    flex-basis: 103%;
  }

  .guests-accordion__bottom-content {
    margin-bottom: 14px;
  }

  .guests-accordion__bottom-content-tabs {
    line-height: 16px;
  }

  .guests-accordion__bottom-item {
    margin-bottom: 16px;
  }

  .guests__content {
    padding-bottom: 44px;
  }

  /* playlists */

  /* временно */
  .playlists__genres-list_768 {
    margin-bottom: 0;
  }

  .playlists__genres-items:not(:last-child) {
    margin-bottom: 12px;
  }

  /* временно */

  .playlists-groups__list {
    margin-right: -30px;
  }

  .playlists-groups__items {
    margin-right: 30px;
  }

  .playlist__underground {
    padding-bottom: 87px;
  }


}

@media (min-width: 930px) {

  /* header */

  .burger, .burger-nav {
    display: none;
  }

  .header-mid_1024 {
    display: flex;
    align-items: center;
  }

  .header-mid__list {
    display: flex;
    flex-wrap: wrap;
  }

  /* market */

  .market-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 95px;
  }

  .market-content-img-container {
    padding-top: 161px;
  }

  .market-content__img {
    max-width: 397px;
    max-height: 397px;
    margin-right: 30px;
  }

  .market-content__right-side {
    padding-top: 43px;
  }

  .market-content__link {
    width: fit-content;
  }

  .market-content__descr_1 {
    margin-bottom: 42px;
  }

  /* about us */

  .about-us__descr_all {
    padding-right: 285px;
    background-image: url('/img/snowflake.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 29px;
  }

  .about-us__descr_2 {
    margin-bottom: 0;
  }

  .about-us-slider {
    background-image: none;
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 6px;
  }

  .about-us-slider__item {
    min-width: 397px;
  }

  .about-us-slider__img {
    min-width: 397px;
  }

  .about-us-form__input-wrapper {
    display: flex;
    flex-direction: row;
  }

  .about-us-form__input:first-of-type {
    margin-right: 30px;
  }

  .about-us-form__input {
    max-width: 397px;
    width: 100%;
  }

  /* footer */

  .footer-top__wrapper_all-top-footer {
    flex-direction: row;
    padding-top: 94px;
    padding-bottom: 61px;
  }

  .footer-top {
    padding-top: 0;
    padding-bottom: 6px;
    flex-basis: 145%;
    align-items: flex-start;
  }

  .footer-top__logo {
    margin-bottom: 18px;
  }

  .footer-top__socials_svg {
    width: 20px;
  }

  .footer-mid {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .footer-nav__list {
    margin-right: -35px;
  }

  .footer-nav__items {
    margin-bottom: 20px;
    margin-right: 88px;
  }
}

@media (min-width: 1025px) {

  /* header */

  .header-mid_1024 {
    margin-right: auto;
  }

  .header-bottom_768px {
    margin-right: auto;
  }

  /* podcasts */

  .podcasts__list {
    max-width: 1277px;
  }

  /* broadcasts */

  .broadcasts-kinds {
    justify-content: center;
    max-width: 1138px;
  }

  .broadcascts-kinds__item:nth-child(2), .broadcascts-kinds__item:nth-child(4), .broadcascts-kinds__item:nth-child(6) {
    margin-right: 30px;
  }

  /* playlists */

  .playlists-groups__list {
    margin-right: 0;
    justify-content: flex-start;
  }

  /* market */

  .market-content-img-container {
    padding-top: 56px;
  }

  /* about us */

  .about-us-form__input {
    max-width: none;
  }

}

@media (min-width: 1600px) {

  .container {
    padding: 0 405px;
  }

  /* header */

  .header-top_backrgound {
    display: none;
  }

  .header-mid__logo-link {
    display: flex;
    margin-right: 80px;
  }

  .logo-link__img {
    width: 160px;
  }

  .header-mid {
    align-items: center;
  }

  .header-mid__search {
    margin-left: auto;
  }

  .header-bottom__item_768px:not(:last-child) {
    margin-right: 52px;
  }

  .header-bottom__item_768px:last-child {
    margin-right: 54px;
  }

  .age-rating_bg {
    background-color: #e6e8ec;
    padding: 13px 6px;
  }

  .age-rating {
    border-radius: 100%;
    background-color: white;
    color: var(--text-translucent);
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 7px;
  }

  .header-bottom_nav-1024 {
    margin-right: 53px;
  }

  .header-bottom__item:not(:last-child) {
    padding-right: 48px;
  }

  .header-bottom__item:last-child {
    padding-right: 42px;
  }

  /* hero */

  .hero__content {
    padding-top: 96px;
    padding-bottom: 93px;
    background-size: 32%;
  }

  .hero__descr {
    margin-bottom: 44px;
    max-width: 600px;
  }

  /* podcasts */

  .podcasts__item {
    max-width: 540px;
  }

  /* broadcasts */

  .broadcasts-kinds {
    max-width: 825px;
  }

  .broadcascts-kinds__item:nth-child(2), .broadcascts-kinds__item:nth-child(4) {
    margin-right: 30px;
  }

  .broadcascts-kinds__item:nth-child(3), .broadcascts-kinds__item:nth-child(6) {
    margin-right: 0;
  }

  .broadcasts-list-container {
    padding-top: 13px;
  }

  .broadcasts-archive_1024 {
    padding-top: 116px;
  }

  /* guests */

  .guests__descr {
    max-width: 780px;
  }

  .guests-accordion {
    flex-basis: 75%;
  }

  /* playlists */

  .playlists__wrapper {
    display: flex;
  }

  .playlist__underground {
    display: none;
  }

  .playlist__left-side_underground {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .playlists__left-side-content {
    display: flex;
    flex-direction: column;
    margin-right: 122px;
  }

  .playlists-groups {
    padding-bottom: 65px;
  }

  .playlists__genres-list {
    flex-wrap: nowrap;
    max-height: none;
    margin-bottom: 100px;
  }

  .playlists-groups__content {
    flex-direction: column;
  }

  .playlists-groups__img {
    max-width: 160px;
    max-height: 160px;
    width: 100%;
    margin-bottom: 0;
  }

  .playlists-groups__list {
    margin-top: -76px;
    margin-bottom: 0;
    margin-right: -30px;
  }

  .playlists-groups__items {
    margin-right: 30px;
  }

  .playlists__items_text {
    min-width: 100px;
    min-height: 50px;
    padding: 15px 5px 12px 15px;
  }

  /* market */

  .market-content {
    padding-bottom: 84px;
  }

  .market-content-img-container {
    padding-top: 44px;
  }

  .market-content__img {
    max-width: 640px;
    max-height: 640px;
  }

  .market-content__title-h2 {
    background-position: 46% 98%;
  }

  .market-content__descr_1 {
    margin-bottom: 14px;
  }

  /* about-us */

  .about-us__descr_all {
    margin-bottom: 30px;
    padding-right: 475px;
    background-image: url('/img/about-us_bg-desktop.png');
  }

  .about-us-slider {
    padding-left: 405px;
    padding-right: 405px;
    margin-bottom: 30px;
  }

  .about-us-slider__item {
    min-width: 255px;
  }

  .about-us-slider__img {
    min-width: 255px;
  }

  .about-us-form {
    max-width: 920px;
  }

  .about-us-form__input {
    max-width: none;
  }

  .about-us-slider__list {
    margin-bottom: 0;
  }

  /* footer */

  .footer-top__wrapper_all-top-footer {
    padding-bottom: 62px;
  }

  .footer-top {
    flex-basis: 187%;
    /* margin-right: 505px; */
  }

}
