@media (min-width: 320px) {

  .container {
    padding: 0 32px;
  }

  /* header */

  .header-mid__logo-link, .header-mid_1024, .header-mid__button, .header-bottom_768px, .header-bottom__button_play-alone, .header-bottom__list, .age-rating, .broadcasts-archive_1024 {
    display: none;
  }

  .burger {
    display: flex;
    position: relative;
    min-width: 23px;
    min-height: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: auto;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 3px;
    background-color: var(--hover-color);
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .burger__line:first-child {
    top: 2%;
  }

  .burger__line:last-child {
    bottom: -2%;
  }

  .burger__line:nth-child(2) {
    top: 47%;
    transform: translateX(-50%);
  }

  .accordion-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }

  .accordion__btn_svg {
    rotate: 45deg;
    min-width: 15px;
    min-height: 15px;
    margin-right: 5px;
  }

  .accordion-bottom {
    display: none;
  }

  .accordion__descr {
    color: var(--hover-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  /* podcasts */

  .podcasts__button_play-svg {
    max-width: 36px;
    max-height: 36px;
  }

  .view-more, .view-less__btn {
    display: none;
  }

  /* broadcasts */

  .broadcascts-kinds__item {
    max-width: 113px;
  }

  .broadcasts-archive {
    max-width: 256px;
  }

  /* broadcasts-select */

  .broadcasts__author-select {
    margin-bottom: 30px;
  }

  .choices .choices__list.choices__list--dropdown .choices__placeholder {
    display: none;
  }

  .header_choices.choices[data-type*=select-one]:after {
    width: 8px;
    height: 8px;
    top: 16px;
    right: 17px;
    transform: rotate(45deg);
    border: 1px solid var(--text-translucent);
    border-top: none;
    border-left: none;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .1s ease-in-out;
    z-index: 2;
    transition: transform .3s ease-in-out;
  }

  .header_choices.choices[data-type*=select-one].is-open:after {
    transform: rotate(225deg);
    margin-top: 0;
    border: 1px solid var(--text-translucent);
    border-top: none;
    border-left: none;
    transition: transform .3s ease-in-out;
    z-index: 2;
    top: 14px;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 20px;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: 0;
  }

  .header_choices {
    max-width: 256px;
  }

  .header_choices .choices__list--dropdown {
    top: 20px;
    padding-top: 20px;
    z-index: 1;
    border-color: #d2d5dd;
    border-radius: 0 0 10px 10px;
    color: #333;
  }

  .choices__inner {
    border: none;
    background-color: #f5f6f7;
    min-height: 0;
  }

  .listbox::placeholder {
    display: none;
  }

  .header_choices .choices__list--dropdown.is-active {
    border-color: #d2d5dd;
  }

  .choices__placeholder {
    opacity: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .header_choices .choices__inner {
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }

  .header_choices.is-open .choices__inner {
    border-radius: 10px;
    border-color: #d2d5dd;
  }

  .choices__list .choices__list--dropdown.is-active {
    border-color: #d2d5dd;
  }

  .choices__list--single .choices__item {
    color: #333;
  }

  .choices {
    margin-bottom: 29px;
  }

  /* broadcast-select-end */

  /* playlists */

  .playlists__genres-list_768 {
    display: none;
  }

  .playlists-slider {
    padding-left: 32px;
    overflow: hidden;
  }

  .playlists-slider__list {
    display: flex;
    margin-bottom: 30px;
  }

  .playlists-slider__item:not(:last-child) {
    margin-right: 15px;
  }

  .playlists-slider__button {
    border: 2px solid var(--hover-color);
    border-radius: 77px;
    min-width: 113px;
    padding: 8px 17px;
    color: var(--hover-color);
    justify-content: center;
  }

  .playlists-groups__list {
    max-width: 256px;
  }

}

@media (min-width: 577px) {

  .container {
    padding: 0 114px;
  }

  .title-h2 {
    font-size: 48px;
  }

  /* header*/

  .header-top {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .logo-link__img {
    width: 113px;
  }

  .header-top__button {
    display: none;
  }

  .header-mid {
    padding: 20px 0;
  }

  .header-mid__search_svg {
    margin-right: 24px;
  }

  .header-mid__button {
    display: flex;
    color: var(--background-dark);
    border: 2px solid currentColor;
    padding: 10px 31px;
  }

  .burger__line:first-child {
    top: 20%;
  }

  .burger__line:last-child {
    bottom: 20%;
  }

  .accordion {
    display: none;
  }

  .header-bottom_768px {
    display: flex;
    padding: 17px 0;
    align-items: center;
  }

  .header-bottom__list_768px {
    display: flex;
    flex-wrap: wrap;
  }

  .header-bottom__item_768px:not(:last-child) {
    margin-right: 28px;
  }

  .header-bottom__item_768px:last-child {
    margin-right: 23px;
  }

  .header-bottom__button_play-alone {
    display: flex;
  }

  /* hero */

  .hero__content {
    padding-top: 92px;
    padding-bottom: 89px;
  }

  .title-h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  .hero__descr {
    font-size: 16px;
  }

  .hero__btn {
    padding: 27px 54px;
    font-size: 20px;
  }

  /* podcasts */

  .podcasts-content {
    padding-top: 95px;
    padding-bottom: 94px;
  }

  .view-more {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .podcasts__title-h2 {
    margin-bottom: 29px;
  }

  .podcasts__all-blocks {
    display: block;
  }

  .podcasts__item {
    width: 100%;
    max-width: 540px;
    min-width: 381px;
  }

  .podcasts__item:last-child {
    margin-bottom: 60px;
  }

  .podcasts__item-top {
    padding-left: 142px;
    padding-top: 20px;
    padding-right: 30px;
    background-position: left;
  }

  .podcasts__item-top_date {
    bottom: -1px;
    left: -1px;
    top: auto;
  }

  .podcasts__title {
    font-size: 20px;
    margin-bottom: 7px;
  }

  .podcasts__button_play {
    padding-bottom: 18px;
  }

  .podcasts__button_play-svg {
    max-width: 50px;
    max-height: 50px;
  }

  .podcasts__time {
    margin-bottom: 11px;
  }

  .podcasts__leading {
    font-size: 16px;
    margin-bottom: 26px;
  }

  .podcasts__item_1 {
    background-image: url('../img/europe-xix-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_2 {
    background-image: url('../img/about-music-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_3 {
    background-image: url('../img/peoples-today-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_4 {
    background-image: url('../img/hello\,africa-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_5 {
    background-image: url('../img/about-all-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_6 {
    background-image: url('../img/phisicks-of-bright-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_7 {
    background-image: url('../img/string-of-wave-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item_8 {
    background-image: url('../img/rules-of-ethicket-768.jpg');
    background-repeat: no-repeat;
    background-size: 113px;
    min-height: 140px;
  }

  .podcasts__item-bottom {
    margin-left: 113px;
    padding: 8px 34px 7px;
    padding-left: 30px;
  }

  .podcasts__social-icons_play-counter, .podcasts__social-icons_like-counter, .podcasts__social-icons_share-counter {
    font-size: 16px;
    line-height: 16px;
  }

  .load-more-content {
    padding-bottom: 0;
  }

  .view-more__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 23px 52px;
  }

  /* broadcasts */

  .broadcasts__title {
    padding-top: 95px;
    margin-bottom: 11px;
  }

  .broadcasts__author-label {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .choices {
    margin-bottom: 47px;
  }

  .broadcascts-kinds__item {
    min-width: 255px;
    min-height: 260px;
  }

  .broadcasts-kinds {
    max-width: 540px;
    margin-bottom: 31px;
  }

  .broadcascts-kinds__item {
    max-width: 250px;
    padding: 169px 15px 0;
  }

  .broadcasts__title-h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .broadcascts-kinds__datetime {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcascts-kinds__link {
    color: var(--background-dark);
    font-size: 16px;
    line-height: 16px;
    bottom: 18px;
  }

  .broadcasts-kinds__link_svg-path {
    fill: var(--background-dark);
  }

  .broadcascts-kinds__item_1 {
    background-image: url('../img/about-people-and-books-desktop.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_2 {
    background-image: url('../img/graphic\ fill.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_3 {
    background-image: url('../img/not\ rome\,not\ troja.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_4 {
    background-image: url('../img/erudite.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_5 {
    background-image: url('../img/the\ subtleties\ of\ the\ eras.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcascts-kinds__item_6 {
    background-image: url('../img/living\ thoughts.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }

  .broadcasts-archive {
    flex-direction: column-reverse;
    max-width: 345px;
  }

  .broadcasts-archive__descr {
    font-size: 16px;
    margin-bottom: 0;
  }

  .broadcasts-archive__btn {
    padding: 10px 54.5px;
    margin-bottom: 8px;
  }

  /* guests */

  .guests__content {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .guest__descr_under-title {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
  }

  .guests-accordion__list {
    margin-bottom: 51px;
  }

  .guests__descr {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 49px;
  }

  .guests-accordion__title-h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .guests-accordion__top-content {
    padding: 20px 0;
    /* margin-bottom: 30px; */
  }

  .guests-accordion__top-content_1 {
    margin-bottom: 30px;
  }

  .guests-accordion__top-content:not(:first-child) {
    border-top: none;
  }

  .guests-accordion__arrow-button_svg {
    width: 48px;
  }

  .guests-accordion__bottom-list {
    column-count: 3;
    column-gap: 31px;
  }

  .guests-accordion__bottom-item {
    max-width: none;
  }

  .guests-accordion__bottom-content-tabs {
    font-size: 16px;
    line-height: 17px;
  }

  .guests-accordion__bottom-content {
    margin-bottom: 10px;
  }

  .accordion-people-info__img {
    width: 100%;
    margin-bottom: 0;
  }

  .accordion-people-info__social-list {
    display: flex;
    margin-bottom: 1px;
  }

  .accordion-people-info__social-links_svg {
    width: 24px;
  }

  .accordion-people-info__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .accordion-people-info__descr {
    max-width: 400px;
  }

  .accordion-people-info__button {
    padding: 10px 18px;
  }

  /* playlists */

  .playlists-slider__list {
    display: none;
  }

  .playlists__genres-list_768 {
    display: flex;
    margin-bottom: 52px;
  }

  .playlists__title-h2 {
    padding-top: 95px;
    margin-bottom: 10px;
  }

  .playlists__genre {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 14px;
  }

  .playlists__genres-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 202px;
  }

  .playlists__genres-items:not(:last-child) {
    margin-bottom: 30px;
  }

  .playlists__radio {
    color: var(--background-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .playlists__radiobuttons {
    margin-right: 10px;
  }

  .playlists-groups__list {
    max-width: none;
    margin-bottom: 12px;
  }

  .playlists-groups__content {
    display: flex;
  }

  .playlists-groups__img {
    max-width: 112px;
    max-height: 112px;
  }

  .playlists__items_text {
    min-width: 142px;
    min-height: 112px;
    padding: 39px 5px 5px 9px;
  }

  .playlists-groups__title-h4 {
    font-size: 16px;
    line-height: 16px;
  }

  .playlists-groups__link {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists-groups__flag_rus, .playlists-groups__flag_eng {
    left: 0;
  }

  .playlists__descr, .playlists__copyright {
    font-size: 16px;
    line-height: 22px;
  }

  .playlist__underground {
    padding-top: 38px;
    padding-bottom: 89px;
  }

  /* market */

  .market-content {
    padding-bottom: 94px;
  }

  .market-content__img {
    min-width: 349px;
    max-width: 540px;
    margin-bottom: -17px;
  }

  .market-content__title-h2 {
    background-position: 45% 98%;
    padding-bottom: 31px;
    margin-bottom: 17px;
  }

  .market-content__descr {
    font-size: 16px;
    line-height: 180%;
  }

  .market-content__descr_2 {
    margin-bottom: 30px;
  }

  .market-content__price {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 29px;
  }

  .market-content__link {
    font-size: 20px;
    line-height: 100%;
    align-self: flex-start;
    padding: 23px 11px;
  }

  /* about-us */

  .about-us-content {
    padding-top: 95px;
    padding-bottom: 94px;
  }

  .about-us__title-h2 {
    margin-bottom: 12px;
  }

  .about-us__descr_1 {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
  }

  .about-us__descr_2 {
    position: relative;
    font-size: 20px;
    line-height: 160%;
    /* padding-bottom: 150px; */
    margin-bottom: 21px;
  }

  /* .about-us__descr_2::before {
    background-image: url(/img/spiral.png);
    background-repeat: no-repeat;
    background-size: 91% 82%;
    display: flex;
    content: "";
    left: -115px;
    top: 252px;
    bottom: 0;
    height: 138px;
    position: absolute;
    width: 720px;
  } */

  .about-us-slider {
    padding-left: 114px;
    padding-right: 114px;
    padding-top: 150px;
    background-image: url('/img/spiral.png');
    background-repeat: no-repeat;
    background-position: 0% 2%;
    background-size: 85%;
  }

  .about-us-slider__list {
    overflow: hidden;
  }

  .about-us-slider__item {
    min-width: 255px;
  }

  .about-us-slider__item:not(:last-child) {
    margin-right: 30px;
  }

  .about-us-slider__img {
    min-width: 255px;
  }

  .about-us-slider__text-content {
    padding: 18px 20px 0 0;
  }

  .about-us-slider__name-teacher {
    font-size: 20px;
    line-height: 20px;
    max-width: none;
    margin-bottom: 7px;
  }

  .about-us-slider__descr {
    font-size: 16px;
    line-height: 24px;
  }

  .about-us-form__textarea {
    border-radius: 30px;
    padding: 29px 20px 20px 31px;
  }

  .about-us-form__textarea::placeholder, .about-us-form__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .about-us-form__input {
    border-radius: 40px;
    padding: 27px 27px 22px 31px;
  }

  .about-us-form__btn {
    border-radius: 40px;
    font-size: 20px;
    line-height: 20px;
    padding: 26px 54px;
    margin-bottom: 30px;
  }

  .about-us-form__label {
    font-size: 12px;
    line-height: 12px;
  }

  /* footer */

  .footer-top {
    padding-top: 95px;
    padding-bottom: 51px;
  }


  .footer-mid_bg {
    background-color: #292e39;
  }

  .footer-mid {
    padding-bottom: 49px;
    padding-top: 25px;
  }

  .footer-nav__list {
    max-height: 183px;
  }

  .footer-nav__links {
    font-size: 16px;
    line-height: 16px;
  }


  .footer-nav__items:nth-child(7), .footer-nav__items:nth-child(8), .footer-nav__items:nth-child(9) {
    margin-right: 0;
  }

  .footer-nav__items {
    margin-right: 157px;
    margin-bottom: 30px;
  }

  .footer-bottom__copyright {
    font-size: 16px;
    line-height: 103.34%;
    margin-top: 23px;
  }

}

@media (min-width: 769px) {

  .container {
    padding: 0 100px;
  }

  /* header */

  .burger {
    display: none;
  }

  .header-mid_1024 {
    display: flex;
    align-items: center;
  }

  .header-mid__list {
    display: flex;
    flex-wrap: wrap;
  }

  .header-mid__item:not(:last-child) {
    margin-right: 59px;
  }

  .header-mid__item:last-child {
    margin-right: 34px;
  }

  .header-mid__link {
    color: var(--background-dark);
    font-size: 20px;
    line-height: 20px;
  }

  .header-bottom {
    display: flex;
    align-items: center;
  }

  .header-bottom__button_play-alone {
    display: none;
  }

  .header-bottom_nav-1024 {
    display: flex;
  }

  .header-bottom__list {
    display: flex;
  }

  .header-bottom_768px {
    padding: 20px 0;
  }

  .header-bottom__list_768px {
    margin-right: auto;
  }

  .header-bottom__item {
    display: flex;
    padding-left: 14px;
    border-right: 1px solid #d2d5dd;
  }

  .header-bottom__item:last-child {
    padding-left: 11px;
    padding-right: 17px;
  }

  .header-bottom__item:not(:last-child) {
    padding-right: 24px;
    border-left: 1px solid #d2d5dd;
  }

  .header-bottom__item_768px:last-child {
    margin-right: 34px;
  }

  .header-bottom__on-air {
    color: var(--text-translucent);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
  }

  .header-bottom-on-air__content {
    max-width: 100px;
  }

  .header-bottom__button_play {
    margin-right: 10px;
  }

  /* hero */

  .hero__descr {
    max-width: 555px;
  }

  .hero__content {
    background-image: url('/img/microphone.png');
    background-repeat: no-repeat;
    background-position: 100% 46%;
    background-size: 256px;
  }

  .hero__content_text {
    display: flex;
    flex-direction: column;
    width: 57%;
  }

  /* podcasts */

  .podcasts__all-blocks {
    display: flex;
  }

  .podcasts__list {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .podcasts__item {
    max-width: 396px;
    margin-right: 30px;
  }

  .podcasts__item:last-child {
    margin-bottom: 30px;
  }

  .view-more {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  /* broadcasts */

  .broadcasts-archive_border {
    display: none;
  }

  .broadcasts__wrapper {
    display: flex;
    padding-top: 94px;
    padding-bottom: 65px;
  }

  .broadcasts__title {
    padding-top: 0;
  }

  .broadcasts-left-side {
    display: flex;
    flex-direction: column;
    margin-right: 29px;
  }

  .choices {
    margin-bottom: 226px;
  }

  .broadcasts-archive__btn {
    margin-bottom: 12px;
  }

  .broadcasts-archive_1024 {
    display: flex;
    flex-direction: column-reverse;
    max-width: 255px;
    background-image: url('/img/mic.png');
    background-repeat: no-repeat;
    background-size: 65px;
    padding-top: 113px;
  }

  .broadcasts-list-container {
    padding-top: 10px;
  }

  .broadcasts-kinds {
    margin-bottom: 0;
  }

  /* guests */

  .guests__wrapper {
    display: flex;
  }

  .guests__descr {
    max-width: 536px;
  }

  .guests-accordion {
    margin-right: 30px;
    flex-basis: 103%;
  }

  .guests-accordion__bottom-content-tabs {
    line-height: 16px;
  }

  .guests-accordion__bottom-item {
    margin-bottom: 16px;
  }

  .guests-accordion__bottom-list {
    margin-bottom: 4px;
  }

  .guests__content {
    padding-bottom: 44px;
  }

  /* playlists */

  /* временно */
  .playlists__genres-list_768 {
    margin-bottom: 0;
  }

  .playlists__genres-items:not(:last-child) {
    margin-bottom: 12px;
  }

  /* временно */

  .playlists-groups__list {
    margin-right: -30px;
  }

  .playlists-groups__items {
    margin-right: 30px;
  }

  .playlist__underground {
    padding-bottom: 87px;
  }
}

@media (min-width: 930px) {

  /* market */

  .market-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 95px;
  }

  .market-content-img-container {
    padding-top: 161px;
  }

  .market-content__img {
    width: 397px;
    height: 397px;
    margin-right: 30px;
  }

  .market-content__right-side {
    padding-top: 43px;
  }

  .market-content__link {
    width: fit-content;
  }

  /* about us */

  .about-us__descr_all {
    padding-right: 285px;
    background-image: url('/img/snowflake.png');
    background-repeat: no-repeat;
    background-position: 100% -55%;
    background-size: 31% 90%;
    margin-bottom: 29px;
  }

  .about-us__descr_2 {
    margin-bottom: 0;
  }

  .about-us-slider {
    background-image: none;
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 37px;
  }

  .about-us-slider__item {
    min-width: 397px;
  }

  .about-us-slider__img {
    min-width: 397px;
  }

  .about-us-form__input-wrapper {
    display: flex;
    flex-direction: row;
  }

  .about-us-form__input:first-of-type {
    margin-right: 30px;
  }

  .about-us-form__input {
    max-width: 397px;
    width: 100%;
  }

    /* footer */

    .footer__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 34px;
      padding-bottom: 61px;
    }

    .footer-top {
      padding-top: 30px;
      padding-bottom: 6px;
      margin-right: auto;
      align-items: flex-start;
    }

    .footer-top__logo {
      margin-bottom: 18px;
    }

    .footer-top__socials_svg {
      width: 20px;
    }

    .footer-mid {
      padding-top: 60px;
      padding-bottom: 0;
    }

    .footer-nav__list {
      max-height: 140px;
      margin-left: -445px;
    }

    .footer-nav__items {
      margin-bottom: 20px;
      margin-right: 109px;
    }
}

@media (min-width: 1025px) {}
